.footer {
    background: #5a9ac6;
    height: 100px;
    position: relative;
    color: #fff;
    overflow: auto;
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #185c8a;
    padding: 8px;
    font-weight: 600;
}

.footer img {
    width: 20px;
    position: relative;
    top: 3px;
    left: 2px;
}